{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static "css/signup.css" %}"
    />
    <title>Register</title>
  </head>
  <body>
    <div class="outercontain">
      <form method="POST">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
        <br />
        <br />
        <label for="name">Email:</label>
        <input type="text" id="email" name="email" />
        <br />
        <br />
        <label for="mobile">Mobile:</label>
        <input type="text" id="mobile" name="mobile" />
        <br />
        <br />
        <label for="name">Bank account no. :</label>
        <input type="text" id="accountno" name="accountno" />
        <br />
        <br />
        <label for="username">Employee id:</label>
        <input type="text" id="username" name="username" />
        <br />
        <br />
        <label for="name">Profile:</label>
        <select id="profile" name="profile">
          <option value="1">Manager</option>
          <option value="2">Engineer</option>
          <option value="3">Accountant</option>
        </select>

        <br />
        <br />
        <label for="managerid">Manager id:</label>
        <input type="text" id="managerid" name="managerid" />
        <br />
        <br />
        <label for="password1">Password:</label>
        <input type="password" id="password1" name="password1" />
        <br />
        <br />
        <label for="password2">Confirm password:</label>
        <input type="password" id="password2" name="password2" />
        <br />
        <br />
        <button>Sign up</button>
      </form>
    </div>
  </body>
</html>
